html,
body {
  height: 100%;
}

body {
  background: aqua;
}

/*Nav*/
nav {
  height: 40px;
  margin: -8px;
  text-align: center;
  background: darkgray;
}

.nav-burger {
  float: left;
  margin: 7px;
  width: 25px;
}

.nav-header {
  display: inline-block;
  margin: 5px 0 0px 10px;
  font-size: 1.5em;
}

.nav-content-right {
  float: right;
  margin: 7px;
}

.bell {
  width: 25px;
}

.usa-flag {
  width: 25px;
}

/*Banner Content*/

.banner-content {
  margin-top: 20px;
}

.banner-images {
  width: 30px;
  height: 30px;
  margin: 5px 10px;
}

.website-link-icons {
  display: flex;
  justify-content: center;
}

.social-media-icons {
  display: flex;
  justify-content: center;
}

/*Main Content*/

.main-content-header {
  text-align: center;
}

.sponsor-advert {
  height: 20px;
  max-width: 380px;
  margin: 0 auto 20px auto;
  background: #FFF;
  text-align: center;
}

.stat-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
  justify-content: center;
}

.player-stats {
  position: relative;
  flex: 1 1 98%;
  height: 200px;
  max-width: 380px;
  margin-bottom: 15px;
  background: #FFF;
  border: 1px solid black;
}

.player-stat-header {
  margin: 0;
  text-align: center;
  background: #eceeed;
  color: #a7a9a8;
  font-size: 1.2em;
}

.player-stats img {
  float: left;
  width: 100px;
  height: 100px;
  margin: 8px;
  border-radius: 50%;
}

.stat {
  margin: 15px 0 0 0;
  color: #5c90b2;
  font-size: 3em;
}

.player-content p {
  margin: 0;
  color: #a8cbd4;
}

.player-content .season-totals {
  color: #a7a9a8;
}

.player-name {
  position: absolute;
  bottom: 0;
  left: 4px;
  width: 98%;
  height: 48px;
  margin: 0;
  line-height: 2.5;
  text-align: center;
  color: #4f4f4f;
  border-top: 1px solid #a7a9a8;
}


/*MEDIA*/
@media screen and (min-width: 780px) {
  .player-stats {
    margin: 0 5px 15px 5px;
  }
  .sponsor-advert {
    max-width: 775px;
}
