/*html,
body {
  height: 100%;
}*/

body {
  font-family: 'Montserrat', sans-serif;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(#434343, #000000);
  background: linear-gradient(#434343, #000000);
}

/*Nav*/
nav {
  height: 40px;
  margin: -8px;
  text-align: center;
  background: #FFF;
  border-bottom: 4px solid #c3a572;
}

.nav-burger {
  float: left;
  margin: 7px;
  width: 25px;
}


.nav-header {
  display: inline-block;
  margin: 6px 0 0 22px;
  font-size: 1.3em;
}

.nav-content-right {
  float: right;
  margin: 7px;
}

.bell {
  width: 25px;
}

.nufc-logo {
  width: 25px;
}

/*Banner Content*/

.banner-content {
  margin-top: 20px;
}

.banner-images {
  width: 30px;
  height: 30px;
  margin: 5px 10px;
}

.website-link-icons {
  display: flex;
  justify-content: center;
}

.social-media-icons {
  display: flex;
  justify-content: center;
}

/*Main Content*/

.main-content-header {
  color: #FFF;
  text-align: center;
}

.sponsor-advert {
  display: flex;
  justify-content: center;
  height: 30px;
  max-width: 385px;
  margin: 0 auto 20px auto;
  background: #0575E6;
  background: -webkit-linear-gradient(to left, #0575E6 , #021B79);
  background: linear-gradient(to left, #0575E6 , #021B79);
  text-align: center;
}

.sponsor-advert p{
  font-size: 0.4em;
  margin: 0;
  padding-top: 8px;
  color: #FFF;

}

.sponsor-advert img {
  width: 25px;
  height: 25px;
  padding-top: 2.5px;
}

.sponsor-text {
  font-size: 14px;;
}

.stat-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
  justify-content: center;
}

.player-stats {
  position: relative;
  flex: 1 1 98%;
  height: 200px;
  max-width: 380px;
  margin: 0 4px 15px 4px;
  background: #FFF;
  border: 2px solid #c3a572;
}

.player-stat-header {
  margin: 0;
  text-align: center;
  background: #eceeed;
  color: #a7a9a8;
  font-size: 1.2em;
}

.player-stats img {
  float: left;
  width: 100px;
  height: 100px;
  margin: 8px;
  border-radius: 50%;
}

.stat {
  margin: 15px 0 0 0;
  color: #5c90b2;
  font-size: 3em;
}

.player-content p {
  margin: 0;
  color: #a8cbd4;
}

.player-content .season-totals {
  color: #a7a9a8;
}

.player-name {
  position: absolute;
  bottom: 0;
  left: 4px;
  width: 98%;
  height: 48px;
  margin: 0;
  line-height: 2.5;
  text-align: center;
  color: #4f4f4f;
  border-top: 1px solid #a7a9a8;
}

/*Fixture Content*/

.fixtures {
  background: #eceeed;
}

.matches {
  text-align: center;
  margin: 0;
  padding: 5px 0 5px 0;
  letter-spacing: -2px;
  font-weight: 400;
  color: #a7a9a8;
}
.dates {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background: #FFF;
}

.fixture-day {
  margin-left: 5px;
  letter-spacing: -2px;
  font-weight: 400;
  color: #a7a9a8;
}

.fixture-date {
  margin-right: 5px;
  color: #5c90b2;
}

.fixture-date p {
  margin: 0;
}

.fixture-date h3 {
  margin: 0 0 0 3px;
}


/*MEDIA*/
@media screen and (min-width: 800px) {
  html, body {
    height: 100%;
  }
  .sponsor-advert {
    max-width: 775px;
  }
  .banner-content {
    display: flex;
    justify-content: center;
  }
  .nav-header {
    font-size: 1.5em;
  }
}
